body {
    background: #f8f8f8;
    }
nav {
    box-shadow: 10px 10px 25px rgba(240, 240, 240);
}
.navbar-brand {
    color: #000000;
}
.nav-link {
    color: #000000;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:10px; 
    border-left: 1px solid black;
    width: 10%;
}
main {
    margin:auto;
    
}
#content {
    display:flex;
    align-items:start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 158px;
    margin: auto;
    padding-top: 15%;
    padding-left: 33% ;
    padding-right: 33% ;
    width:100% ;
    box-sizing:border-box;
}

#content div {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid black;
}
.title-1 {
display: inline-flex; 
text-align:left;
margin: auto;
padding-right: 35%;
}
.title-2 {
    display: inline-flex; 
    text-align:left;
    margin: auto;
    padding-right: 35%;
}
.title-3 {
    display: inline-flex; 
    text-align:left;
    margin: auto;
    padding-right: 20%;
}
.title-4 {
    display: inline-flex; 
    text-align:left;;
    margin: auto;
    padding-right: 20%;
}
h1 h2 {
text-decoration: solid;
}
.title-2 .title-3 .title-4 {
    border-bottom: 1px black solid;
}
p {
    color: black;
    text-align: left;
}
article div {
    display: inline-flex;
    text-align:left;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 14%;
    padding-left: 36% ;
    padding-right: 39.5% ;
    width:105% ;
}
article a {
    display: flex;
    height: auto;
    width: 80%;
    padding-right: 15%;
}
.facebook {
display: flex;
align-content:center;
border: 2px solid black;
}
.instagram {
display: flex;
align-content:center;
border:  2px solid black
}
.twitter{ 
display: flex;
align-content:center;
border:  2px solid black
}
@media (min-width: 600px){}